# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml

# Next.js
.next/
out/
build/
dist/

# Environment variables
.env*.local
.env

# Vercel
.vercel

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Misc
_sass/vendors
assets/js/dist

.vscode

.DS_Store